html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-family: "Roboto", sans-serif;
}

h3 {
  white-space: nowrap;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.lockscreen {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  white-space: nowrap;
  font-size: 24px;
  cursor: pointer;
}

.lockscreen-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.lockscreen-content button {
  position: absolute;
  right: 16px;
  top: 8px;
}

.loading-bar {
  color: white;
  font-size: 36px;
}
